body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(59, 62, 100);
  font-family: Raleway, sans-serif;
  font-size: larger;
}
html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
  color: rgb(147, 18, 87)
}

button {
    border-radius: 20px;
                display: block;
                margin-left: 0px;
                
                font-size: medium;
                padding: 10px 20px;
                background-color: rebeccapurple;
                color: white;
                cursor: pointer;
                border: none;
}

input{
  background-color: beige;
  border-radius: 5px;
  border: none;
  padding: 3px 10px;
  margin-left: 3px;
  font-family: Raleway;
  font-weight: bold;
  color: rgb(8, 156, 20)
}