body{
  height: 100%;
  width: 99%;
  background-color: rgb(255,255, 255);
  color: darkslateblue;
  font-family: Raleway, sans-serif;
  font-size:larger;
}
html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.articleList{
  display: flex;
  transition: transform 0.5s ease;
}
button {
  border-radius: 20px;
  display: flex;
  font-size: xx-large;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  cursor: pointer;
  border: none; 
}

.card{
  min-width: 50%;
  margin: 10px;
}
.carousel{
  overflow:hidden;
  width: 100%;
}

.carousel-wrapper{
  display: flex;
  align-items: center;
  position: relative;
}

.header {
  width: auto;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 40px;
  font-size: 0.3in;
  color: white;
  height: 80px;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: rgb(11, 168, 11);
}
.navbar {
  display: flex;
  align-items: center;       /* vertical centering */
  justify-content: space-between;
  padding: 0 40px;
  height: 100%;
  background: rgb(3, 5, 89);  
}
.logo{
  font-size: xxx-large ;
  padding-left: 60px;
}
.nav-links {
  display: flex;
  gap: 40px;                  /* space between About, Mission, etc */
  list-style: none;
}
.midLinks{
  padding: -10px;
  padding-top: 0px;
  margin: -120px;
  /* background-color: yellow; */
}


h1{
  color: rgb(147, 18, 87)
}


.next{
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
}

.back{
  position: absolute;
  transform: translateY(-50%);
  z-index: 10;
}



input{
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  width:55%;
  border:solid 1px rgb(3, 5, 89);
  padding: 12px 10px;
  margin-left: 3px;
  font-family: Raleway;
  font-size: x-large;
  font-weight: bold;
  color: rgb(8, 156, 20)
}

.TreatmentText{
  font-size: xx-large;
}

.aboutText{
  font-size: xx-large;
  margin: 10px;
}

img{
  width: 300px;
}

p,span{
  display: flex;
  justify-content: right;
  padding-right:30px;
  margin-top: -20px;
}